<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cillit Bang</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
        <link rel="stylesheet" href="/public/font-awesome-4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="/public/slick/slick-theme.css" />
        <link rel="stylesheet" href="/public/css/tooplate-style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

    </head>

    <body>
<!--Loader -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
<!--MENU-->
        <nav class="navigationbar">
            <div class="logomenubar">CillitBang</div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a class="" href="#sobrenos">Sobre nós</a> </li>
                <li><a class="serv" id="serv" href="#tm-section-9">Área do cliente</a> </li>
                <li><a id="Logout" class="navigationbaractive" href="/auth/logout">Log-out</a></li>
            </ul>
        </nav>
<!--Cabeçalho-->
        <div class="container">
            <section class="tm-section-head" id="top">
                <header id="header" class="text-center tm-text-gray">
                    <h1>CILLIT BANG</h1>
                    <p>Bem vindo de volta <%= name %>!</p>
                </header>
            </section>
<!-- Slider de imagens -->
            <section class="row" id="tm-section-1">
                <div class="col-lg-12 tm-slider-col">
                    <div class="tm-img-slider">
                        <div class="tm-img-slider-item" href="/public/img/sli3.png">
                            <p class="tm-slider-caption">Bem vindos à Cillit Bang Limpezas. Onde a Sujidade Desaparece.</p>
                            <img src="/public/img/sli3.png" alt="Image" class="tm-slider-img">
                        </div>
                        <div class="tm-img-slider-item" href="/public/img/c4">
                            <p class="tm-slider-caption">Marcações disponíveis a Particulares e Empresas.</p>
                            <img src="/public/img/c4" alt="Image" class="tm-slider-img">
                        </div>
                        <div class="tm-img-slider-item" href="/public/img/gallery-img-03.jpg">
                            <p class="tm-slider-caption">Escolha entre um único empregado ou uma equipa para o seu trabalho.</p>
                            <img src="/public/img/clean.gif" alt="Image" class="tm-slider-img">
                        </div>
                        <div class="tm-img-slider-item" href="/public/img/gallery-img-04.jpg">
                            <p class="tm-slider-caption">Serviço 24h/7 a seu dispor.</p>
                            <img src="/public/img/imagem4.png" alt="Image" class="tm-slider-img">
                        </div>
                    </div>
                </div>
            </section>
<!-- About Us Section -->
            <section class="tm-section-2" id="sobrenos">
                <div class="row">
                    <div class="col-xl-12">
                        <header class="text-center"></header>
                        <h2>Sobre nós</h2>
                        <p>Meter aqui uma introdução da nossa empresa e do que fazemos</p>
                    </div>
                </div>
            </section>
<!--Informações-->
            <section class="tm-section-5" id="tm-section-5">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="image fit">
                            <img src="/public/img/tm-sc4-img-1.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 pl-lg-0">
                        <div class="media tm-media">
                            <img src="/public/img/sc4-img-2.jpg" class="img-responsive tm-media-img">
                            <div class="media-body tm-box-5">
                                <h2>Marque já</h2>
                                <p class="mb-0">Pode agendar uma limpeza após ter feito o seu registo e login no site. Se deseja saber mais sobre nós envie-nos uma mensagem no contacte-nos.</p>
                            </div>
                        </div>
                        <div class="media tm-media">
                            <img src="/public/img/sc4-img-3.jpg" class="img-responsive tm-media-img">
                            <div class="media-body tm-box-5">
                                <h2>Tipo de Limpeza</h2>
                                <p class="mb-0">Pode optar por escolher uma equipe ou, simplesmente um empregado para a sua limpeza.</p>
                            </div>
                        </div>
                        <div class="media tm-media">
                            <img src="/public/img/sc4-img-4.jpg" class="img-responsive tm-media-img">
                            <div class="media-body tm-box-5">
                                <h2>Área Cliente</h2>
                                <p class="mb-0"> Veja todas as suas marcações e o seu estado. Não se esqueça de avaliar o trabalho realizado para melhorarmos os nossos serviços. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<!--Área do cliente------------------------------------------------------>
            <section class="tm-section-9" id="tm-section-9">
                <h2>Área do Cliente</h2>
                <nav>
                    <ul>
                        <li>
                            <a id="limpeza" href="#tm-section-9">Marcação da Limpeza</a>
                        </li>
                        <li>
                            <a id="marcacoes" href="#tm-section-9">Verificar Marcações</a>
                        </li>
                        <li>
                            <a id="feedback" href="#tm-section-9">Feedback sobre as suas Limpezas</a>
                        </li>
                    </ul>
                </nav>
                <div id="marcarlimpeza" class="marcarlimpeza row hidden">
                    <header class="text-center"></header>
                    <h3 class="h2-spaced">Marque a sua limpeza</h3>
                    <div class="col-xl-12">
                        <div class="contact_message">
                            <form action="/auth/marcacaoPOST" method="POST" class="contact-form">
                                <div class="row mb-3">
                                    <div class="form-group col-xs-12 pl-lg-3">
                                        <input pattern="^[a-zA-Z ]+$" title="Não pode ter caracteres especiais e números" required
                                          type="text" id="contact_name" name="name" class="form-control" placeholder="Primeiro e Último nome"/>
                                    </div>
                                    <div class="form-group col-sm-4 pl-xl-4">
                                        <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
                                          type="email" id="contact_email" name="email" class="form-control" placeholder="Email"/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-xs-12 pl-lg-3">
                                        <p>Escolha uma data:</p>
                                        <input type="date" name="date" id="contact_date" class="form-control" required/>
                                    </div>
                                    <div class="form-group col-xs-12 pl-xl-4">
                                        <p>Escolha uma hora:</p>
                                        <input type="time" id="hora_marcacao" name="hour" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-xl-6 pl-xl-4">
                                        <p>Morada da marcação:</p>
                                        <input required maxlength="50"
                                          type="text" id="contact_name" name="address" class="form-control" placeholder="Morada"/>
                                    </div>
                                    <div id="pos-btn" class="form-group col-xl-2 pl-xl-4">
                                        <button id="btnMarcacao" type="submit" class="btn  tm-btn-submit float-right btn-marcar" onclick="javascript: form.action='/auth/marcacaoPOST'">Marcar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="mostrarmarcacoes" class="verificarmarcacoes row mb-3 pl-xl-3 hidden">
                    <header class="text-center"></header>
                    <h3 class="h3-spaced">Verificar Marcações</h3>
                    <table id="tabelaCliente" class="tabela-clientes">
                        <tr>
                            <th>Morada</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Avaliar</th>
                        </tr>

                        <tbody class="bodyMarcacoes">

                        </tbody>
                    </table>
                    
                </div>
                <div id="feedbackdotrabalhador" class="feedback-do-trabalhador row hidden">
                    <header class="text-center">
                        <h3 class="h3-spaced">Feedback sobre as suas Limpezas</h3>
                        <p>Por favor, não hesite em nos enviar o seu feedback após as limpezas. Seja específico sobre a sua marcação.</p>
                    </header>
                    
                    <div class="col-xl-12">
                        <div class="contact_message">
                            <form action="/auth/feedback" method="POST" class="contact-form" id="enviar_feedback_cliente">
                                <div class="row mb-3">
                                    <div class="form-group col-xs-12 pl-lg-3">
                                        <input type="name" id="name" name="name" class="form-control" placeholder="Nome"/> 
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-xl-8 pl-lg-3">
                                        <input type="text" id="feedback" name="feedback" class="form-control" rows="6" placeholder="Feedback">
                                    </div>
                                    <div id="fback-btn" class="form-group col-xl-2 pl-xl-4">
                                        <button type="submit" class="btn  tm-btn-submit float-right btn-marcar">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    $("#enviar_feedback_cliente").submit(function(e) {
                        e.preventDefault(); // avoid to execute the actual submit of the form.
                        var form = $(this);
                        $.ajax({
                            type: "POST",
                            url: '/auth/feedback/',
                            data: form.serialize(), // serializes the form's elements.
                            datatype: "json",
                            complete: function(data) {
                                window.location.href = "./clientpage";
                            }//
                        });
                    });
                </script>
            </section>
<!--Rodapé-->
            <footer class="mt-5">
                <p class="text-center">Copyright © 2020 Cillit Bang
                    <a rel="nofollow" href="http://www.tooplate.com/view/2103-central" target="_parent" class="tm-text-black">Central</a>
                </p>
            </footer>
        </div>


<!--Scripts-->

        <script type="text/javascript" src="/public/js/jquery-1.11.3.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/slick/slick.min.js"></script>
        <script src="/public/js/page.js"></script>


        <script>
            let thisArray = []
            let userId = $('#userId').val();


            $.ajax({
                method:'GET',
                url:'/auth/marcacoesGET/' + userId,
                dataType: 'json',
                data: {
                    userId: userId
                },
                success:function(marcacao){
                    thisArray = marcacao
                    buildTable(thisArray);
                    console.log(thisArray)      
                }
            })

            function buildTable(marcacao){
                let table = document.getElementById('tabelaCliente')
                
                for(let i = 0; i < marcacao.length; i++){
                    
                    if(marcacao[i].state == "Pendente"){
                        let row = `<tr>
                                    <td>${marcacao[i].address}</td>
                                    <td>${marcacao[i].date}</td>
                                    <td>${marcacao[i].hour}</td>
                                    <td>${marcacao[i].state}</td>
                               </tr>`
                        table.innerHTML += row
                    }else {
                        if(marcacao[i].avaliado == false) {
                            let row = `<tr>
                                    <td>${marcacao[i].address}</td>
                                    <td>${marcacao[i].date}</td>
                                    <td>${marcacao[i].hour}</td>
                                    <td>${marcacao[i].state}</td>
                                    <td>
                                        
                                        <div class="form-group col-xs-12 pl-lg-3">
                                            <form action="/auth/avaliacaoPUT/${marcacao[i]._id}" method="POST" class="avaliacao">

                                                <div class="form-group" class="div1">
                                                    <select id="projeto" name="aval_client" class="form-control-select">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-fill btn-primary">Submeter</button>
                                                </div>

                                            </form>
                                        </div>

                                    </td>
                               </tr>`
                        table.innerHTML += row

                        } else {
                            let row = `<tr>
                                    <td>${marcacao[i].address}</td>
                                    <td>${marcacao[i].date}</td>
                                    <td>${marcacao[i].hour}</td>
                                    <td>${marcacao[i].state}</td>
                                    <td>
                                        
                                        <div class="form-group col-xs-12 pl-lg-3">
                                            <p>Avaliado!</p>
                                        </div>

                                    </td>
                               </tr>`
                        table.innerHTML += row
                        }
                        
                        
                        
                    }
                    
                }
                
            }

            $('.tabela-clientes').on('submit', '.avaliacao', function(e) {
                e.preventDefault();

                const $form = $(e.target);
                const formData = $form.serialize();
                const action = $form.attr('action');
                $.ajax({
                    method: 'PUT',
                    url: action,
                    dataType: 'json',
                    data: formData,
                    success: function(data) {
                        console.log(data);
                        $form.replaceWith("<p>Avaliado!</p>");
                    }
                })
            })

            

        </script>
    </body>
</html>