<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>
    Cillit Bang
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
</head>

<body class="">
<!-- MEU CODIOGO DE GRAFICOS -->
<!-- MEU CODIOGO DE GRAFICOS -->
<!-- MEU CODIOGO DE GRAFICOS -->
<!-- MEU CODIOGO DE GRAFICOS -->
<!-- MEU CODIOGO DE GRAFICOS -->
<!--<canvas id="chart_clientes_canvas" width="400" height="400"></canvas>-->
<!-- GRAICO DOS CLIENTES -->
<script>
  async function get_clientes(){
    const clientes_label = []
    const response = await fetch('/auth/clientsGET/')
    const data = await response.json()
    const valores_true = []
    const valores_false = []
    for (i=0; i<data.length;i++){
      if(data[i].hasAdmin === true){
        valores_true.push(data[i])
      }
    }
    for (i=0; i<data.length;i++){
      if(data[i].hasAdmin === false){
        valores_false.push(data[i])
      }
    }
    clientes_label.push(valores_true.length,valores_false.length)
    document.getElementById("clientes_total").innerHTML = "Total de clientes: " + data.length
    return {clientes_label};
  }
  async function get_clientes_chart() {
    const data = await get_clientes();
    const ctx = document.getElementById('chart_clientes_canvas').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Clientes com manager", "Clientes sem manager"],
        datasets: [{
          data: data.clientes_label,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            //'rgba(255, 206, 86, 0.2)',
            //'rgba(75, 192, 192, 0.2)',
            //'rgba(153, 102, 255, 0.2)',
            //'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            //'rgba(255, 206, 86, 1)',
            //'rgba(75, 192, 192, 1)',
            //'rgba(153, 102, 255, 1)',
            //'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1,
        }]
      },
      options: {
        responsive: true,
        legend:false,
        scales: {
          yAxes: [{
            ticks:{
              autoSkip: false,
              beginAtZero: true,
              stepSize: 1,
            }
          }]
        }
      }
    });
  }
  get_clientes_chart();
</script>
<!-- GRAICO DOS TRABALHADORES -->
<!--<canvas id="chart_trabalhadores_canvas" width="400" height="400"></canvas>-->
<script>
  async function get_trabalhadores(){
    const trabalhadores = await fetch('/auth/workersGET/')
    const data_trabalhadores = await trabalhadores.json()
    console.log(data_trabalhadores)
    const valores_solo = []
    const indisponiveis = []
    for (i=0; i<data_trabalhadores.length;i++){
      if(data_trabalhadores[i].pequipa === "Não" || data_trabalhadores[i].pequipa === "Não disponível"){
        valores_solo.push(data_trabalhadores[i])
      }
      if (data_trabalhadores[i].disponibilidade !== "Sim"){
        indisponiveis.push(data_trabalhadores[i])
      }
    }
    document.getElementById("trabalhadores_total").innerHTML = "Total de trabalhadores: " + data_trabalhadores.length
    const trabalhadores_disponiveis = valores_solo.length - indisponiveis.length
    const trabalhadores_indisponiveis = indisponiveis.length
    return {trabalhadores_disponiveis, trabalhadores_indisponiveis};
  }
  async function get_equipas(){
    const equipas = await fetch('/auth/equipasGET/')
    const data_equipas = await equipas.json()
    const equipas_size = data_equipas.length
    return {equipas_size};
  }
  async function get_trabalhadores_chart() {
    const data_equipas = await get_equipas();
    const data_trabalhador = await get_trabalhadores();
    const ctx = document.getElementById('chart_trabalhadores_canvas').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Disponiveis","Indisponiveis", "Equipas"],
        datasets: [{
          data: [data_trabalhador.trabalhadores_disponiveis,data_trabalhador.trabalhadores_indisponiveis,data_equipas.equipas_size],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            //'rgba(75, 192, 192, 0.2)',
            //'rgba(153, 102, 255, 0.2)',
            //'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            //'rgba(75, 192, 192, 1)',
            //'rgba(153, 102, 255, 1)',
            //'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1,
        }]
      },
      options: {
        responsive: true,
        legend:false,
        scales: {
          yAxes: [{
            ticks:{
              autoSkip: false,
              beginAtZero: true,
              stepSize: 1,
            }
          }]
        }
      }
    });
  }
  get_trabalhadores_chart();
</script>
<!--<canvas id="chart_avaliacoes_canvas" width="400" height="400"></canvas>-->
<script>
  async function get_avaliacoes(){
    const notas_de_avaliacoes = []
    const avaliacoes = await fetch('/auth/marcacoesGETAll/')
    const data_avaliacoes = await avaliacoes.json()
    const uma_estrela = []
    const duas_estrela = []
    const tres_estrela = []
    const quatro_estrela = []
    const cinco_estrela = []
    const total_sem_avaliacao = []
    for (let i=0; i<data_avaliacoes.length;i++){
      if (data_avaliacoes[i].aval_client ==="Sem Avaliação do Cliente"){
        total_sem_avaliacao.push(data_avaliacoes[i])
      }
    }
    for (let i=0; i<data_avaliacoes.length;i++){
      if(data_avaliacoes[i].aval_client === "1"){
        uma_estrela.push(data_avaliacoes[i])
      }else if(data_avaliacoes[i].aval_client === "2"){
        duas_estrela.push(data_avaliacoes[i])
      }else if(data_avaliacoes[i].aval_client === "3"){
        tres_estrela.push(data_avaliacoes[i])
      }else if(data_avaliacoes[i].aval_client === "4"){
        quatro_estrela.push(data_avaliacoes[i])
      }else if(data_avaliacoes[i].aval_client === "5"){
        cinco_estrela.push(data_avaliacoes[i])
      }
    }
    const total_com_aval = data_avaliacoes.length - total_sem_avaliacao.length
    notas_de_avaliacoes.push(uma_estrela.length, duas_estrela.length, tres_estrela.length,quatro_estrela.length,cinco_estrela.length)
    //console.log(notas_de_avaliacoes)
    document.getElementById("avaliacoes_total").innerHTML = "Avaliados: " + total_com_aval
    return {notas_de_avaliacoes};
  }
 async function get_avaliacoes_chart() {
   const data_avaliacoes = await get_avaliacoes();
   const ctx = document.getElementById('chart_avaliacoes_canvas').getContext('2d');
   const myChart = new Chart(ctx, {
     type: 'bar',
     data: {
       labels: ["1", "2","3","4","5"],
       datasets: [{
         //grouped: true,
         data: data_avaliacoes.notas_de_avaliacoes,
         backgroundColor: [
           'rgba(255, 99, 132, 0.2)',
           'rgba(54, 162, 235, 0.2)',
           'rgba(255, 206, 86, 0.2)',
           'rgba(75, 192, 192, 0.2)',
           'rgba(153, 102, 255, 0.2)',
           'rgba(255, 159, 64, 0.2)'
         ],
         borderColor: [
           'rgba(255, 99, 132, 1)',
           'rgba(54, 162, 235, 1)',
           'rgba(255, 206, 86, 1)',
           'rgba(75, 192, 192, 1)',
           'rgba(153, 102, 255, 1)',
           'rgba(255, 159, 64, 1)'
         ],
         borderWidth: 1,
       }]
     },
     options: {
       responsive:true,
       legend:false,
       scales: {
         yAxes: [{
           ticks:{
             autoSkip: false,
             beginAtZero: true,
             stepSize: 1,
           }
         }]
       }
     }
   });
 }
 get_avaliacoes_chart();
</script>
  <script>
    async function get_avaliacoes2(){
      const avaliacoes = await fetch('/auth/marcacoesGETAll/')
      const data_avaliacoes = await avaliacoes.json()
      const total_sem_avaliacao = []
      for (let i=0; i<data_avaliacoes.length;i++){
        if (data_avaliacoes[i].aval_client ==="Sem Avaliação do Cliente"){
          total_sem_avaliacao.push(data_avaliacoes[i])
        }
      }
      const total_com_aval = data_avaliacoes.length - total_sem_avaliacao.length
      const total_sem_aval = total_sem_avaliacao.length
      document.getElementById("total_aval").innerHTML = "Total de marcações: " + data_avaliacoes.length
      return {total_sem_aval, total_com_aval};
    }
    async function get_avaliacoes_chart2() {
      const data_avaliacoes2 = await get_avaliacoes2();
      console.log(data_avaliacoes2)
      const ctx = document.getElementById('chart_avaliacoes2_canvas').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Terminados", "Em progresso"],
          datasets: [{
            data: [data_avaliacoes2.total_com_aval,data_avaliacoes2.total_sem_aval],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
          }]
        },
        options: {
          responsive: true,
          legend:false,
          scales: {
            yAxes: [{
              ticks:{
                autoSkip: false,
                beginAtZero: true,
                stepSize: 1,
              }
            }]
          }
        }
      });
    }
    get_avaliacoes_chart2();
  </script>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CB
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Cillit Bang
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./clientes">
              <i class="tim-icons icon-single-02"></i>
              <p>Clientes</p>
            </a>
          </li>
          <li>
            <a href="./trabalhadores">
              <i class="tim-icons icon-single-02"></i>
              <p>Trabalhadores</p>
            </a>
          </li>
          <li>
            <a href="./projmarc">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>Projetos/Marcações</p>
            </a>
          </li>
          <li>
            <a href="./colegas">
              <i class="tim-icons icon-single-02"></i>
              <p>Registo de Administradores</p>
            </a>
          </li>
          <li>
            <a href="./colegas2">
              <i class="tim-icons icon-single-02"></i>
              <p>Registo de Staff</p>
            </a>
          </li>
          <li>
            <a href="./calendario">
              <i class="tim-icons icon-calendar-60"></i>
              <p>Calendário</p>
            </a>
          </li>
          <li>
            <a href="./feedbacks">
              <i class="tim-icons icon-chat-33"></i>
              <p>Feedbacks</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="/assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="./user" class="nav-item dropdown-item">Perfil</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="/auth/logoutAdmin" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Avaliações</h5>
                <h3 class="card-title"><i id="avaliacoes_total" ></i></h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart_avaliacoes_canvas" height="0"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Trabalhadores</h5>
                <h3 class="card-title"><i id="trabalhadores_total" ></i></h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart_trabalhadores_canvas" height="0"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Clientes</h5>
                <h3 class="card-title"><i id="clientes_total" ></i></h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart_clientes_canvas"  height="0"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Marcações</h5>
                <h3 class="card-title"><i id="total_aval" ></i></h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart_avaliacoes2_canvas" height="0"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Comparações</h5>
                <h3 class="card-title"><i id="comparacoes" ></i></h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="novo_chart"  height="0"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>

<script>
  async function get_admins_total(){
    const administrador = await fetch('/auth/allAdminsGET/')
    const data_admin = await administrador.json()
    const numero_de_admins = data_admin.length
    return {numero_de_admins}
  }
  async function get_clientes_total(){
    const response = await fetch('/auth/clientsGET/')
    const data_clientes = await response.json()
    const numero_de_clientes = data_clientes.length
    return {numero_de_clientes};
  }
  async function get_trabalhadores_total(){
    const trabalhadores = await fetch('/auth/workersGET/')
    const data_trabalhadores = await trabalhadores.json()
    const total_de_trabalhadores = data_trabalhadores.length
    return {total_de_trabalhadores}
  }
  async function get_marcacoes_total(){
    const avaliacoes = await fetch('/auth/marcacoesGETAll/')
    const data_avaliacoes = await avaliacoes.json()
    const total_sem_avaliacao = []
    for (let i=0; i<data_avaliacoes.length;i++){
      if (data_avaliacoes[i].aval_client ==="Sem Avaliação do Cliente"){
        total_sem_avaliacao.push(data_avaliacoes[i])
      }
    }
    const total_de_marcacoes = total_sem_avaliacao.length
    return {total_de_marcacoes};
  }
  async function get_novo_chart() {
    const data_admins = await get_admins_total();
    const data_clientes = await get_clientes_total();
    const data_trabalhadores = await get_trabalhadores_total();
    const data_marcacoes = await get_marcacoes_total();
    const admin_por_cliente =data_admins.numero_de_admins/data_clientes.numero_de_clientes
    const trabalhadores_por_marcacoes = data_trabalhadores.total_de_trabalhadores/data_marcacoes.total_de_marcacoes
    document.getElementById("comparacoes").innerHTML = "A/C: " + admin_por_cliente.toFixed(2) + " | " + "T/M: " + trabalhadores_por_marcacoes.toFixed(2)

    const ctx = document.getElementById('novo_chart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["Administradores", "Clientes", "Trabalhador", "Marcações"],
        datasets: [{
          data: [data_admins.numero_de_admins, data_clientes.numero_de_clientes, data_trabalhadores.total_de_trabalhadores, data_marcacoes.total_de_marcacoes],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1,
        }]
      },
    });
  }
  get_novo_chart();
</script>
</body>

</html>