<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Cillit Bang
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CB
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Cillit Bang
          </a>
        </div>
        <ul class="nav">
          <li >
            <a href="./dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./clientes">
              <i class="tim-icons icon-single-02"></i>
              <p>Clientes</p>
            </a>
          </li>
          <li class="active">
            <a href="./trabalhadores">
              <i class="tim-icons icon-single-02"></i>
              <p>Trabalhadores</p>
            </a>
          </li>
          <li>
            <a href="./projmarc">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>Projetos/Marcações</p>
            </a>
          </li>
          <li>
            <a href="./colegas">
              <i class="tim-icons icon-single-02"></i>
              <p>Registo de Administradores</p>
            </a>
          </li>
          <li>
            <a href="./colegas2">
              <i class="tim-icons icon-single-02"></i>
              <p>Registo de Staff</p>
            </a>
          </li>
          <li>
            <a href="./calendario">
              <i class="tim-icons icon-calendar-60"></i>
              <p>Calendário</p>
            </a>
          </li>
          <li>
            <a href="./feedbacks">
              <i class="tim-icons icon-spaceship"></i>
              <p>Feedbacks</p>
            </a>
          </li>
          <!--<li>
            <a href="./icons">
              <i class="tim-icons icon-atom"></i>
              <p>Icons</p>
            </a>
          </li>-->
          <li>
            <a href="./user">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <!--<li>
            <a href="./clientpage">
              <i class="tim-icons icon-spaceship"></i>
              <p>Pagina do cliente</p>
            </a>
          </li>
          <li>
            <a href="./workerpage">
              <i class="tim-icons icon-spaceship"></i>
              <p>Pagina do trabalhador</p>
            </a>
          </li>-->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Ver Equipa</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="../assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="/auth/logoutAdmin" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      
      
      
      
      
      <div class="content" id="divTeamDelete">

        <div class="row" id="">
          <div class="col-lg-4   col-md-5">
            <div class="card card-tasks" id="membros">

              
        
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              
              <div class="card-header">
                <h4 class="card-title">Marcações Atribuídas a esta Equipa</h4>
              </div>
              
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    
                    <thead class=" text-primary">
                      <tr>
                        <th>Marcação ID</th>
                        <th>Cliente</th>
                        <th>Morada</th>
                        <th>Estado</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Avaliado</th>
                        <th>Apagar</th>
                      </tr>
                    </thead>
                    
                    <tbody id="marcacoesEquipa">

                    </tbody>

                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>





  <script>

    let teamId = sessionStorage.getItem("teamId");
    //console.log(teamId);
    let newArray = [];

    $.ajax({
      method:'GET',
      url: '/auth/equipaGET/' + teamId,
      dataType: 'json',
      success:function(equipaById){
        newArray = equipaById
        buildCard(newArray);
        //console.log(newArray);
      }
    })
    async function get_trabalhadores(){
      const trabalhadores = await fetch('/auth/getTrab/')
      const data_trabalhadores = await trabalhadores.json()
      const trab_1 = []
      const trab_2 = []
      const trab_3 = []
      for (let i=0;i<data_trabalhadores.length; i++){
        if (data_trabalhadores[i]._id === newArray.trab1){
          trab_1.push(data_trabalhadores[i].name)
        }else if (data_trabalhadores[i]._id === newArray.trab2){
          trab_2.push(data_trabalhadores[i].name)
        }else if (data_trabalhadores[i]._id === newArray.trab3){
          trab_3.push(data_trabalhadores[i].name)
        }
      }
      if(trab_1.length === 0){
        trab_1.push("1")
      }
      if(trab_2.length === 0){
        trab_2.push("2")
      }
      if(trab_3.length === 0){
        trab_3.push("3")
      }
      const name_1 = trab_1[0]
      const name_2 = trab_2[0]
      const name_3 = trab_3[0]
      //console.log(name_1)
      //console.log(name_2)
      //console.log(name_3)
      return {name_1, name_2, name_3}
    }

    async function buildCard(equipaById){
      const data_trabalhadores = await get_trabalhadores();
      let card = document.getElementById('membros');
      let stuff = 
      ` 
              <div class="card-header ">
                <h6 class="title d-inline">Equipa</h6>
              </div>

              <div class="card-body ">
                <div>
                  <h6>Nome do Trabalhador: ${data_trabalhadores.name_1}</h6>
                  <p>ID: ${equipaById.trab2}</p>
                </div>
                <div>
                  <h6>Nome do Trabalhador: ${data_trabalhadores.name_2}</h6>
                  <p>ID: ${equipaById.trab2}</p>
                </div>
                <div>
                  <h6>Nome do Trabalhador: ${data_trabalhadores.name_3}</h6>
                  <p>ID: ${equipaById.trab2}</p>
                </div>
              </div>

              <div class="card-footer">
                <form action="/auth/deleteTeam/${equipaById.trab1}/${equipaById.trab2}/${equipaById.trab3}/" method="POST" class="formAdmin">
                  <button type="submit" class="btn btn-primary">Apagar Equipa</button>
                </form>
              </div>
      `
      card.innerHTML += stuff

      

    }

    // Funciona
    $('#membros').on('submit', '.formAdmin' ,function(e) {

      e.preventDefault();

      const $form = $(e.target);
      const action = $form.attr('action');

      $.ajax({
        method: 'DELETE',
        url: action + teamId,
        dataType: 'json',
        success: function(data) {
          //console.log(data);
          $('.card-footer').replaceWith('<h4 style="text-indent :2em;">Apagado!</h4>');
        }
      })

    })
    
    $.ajax({
      method:'GET',
      url: '/auth/marcEquipaGET/' + teamId,
      dataType: 'json',
      success:function(marcsEquipa){
        newArray2 = marcsEquipa
        buildTable(newArray2);
        //console.log(newArray2);
      }
    });
    async function get_clientes(){
      const clientes = await fetch('/auth/clientsGET/')
      const data_clientes = await clientes.json()
      //console.log(data_clientes)
      const nome_do_cliente = []
      for (let i=0;i<newArray2.length; i++){
        for (let a=0;a<data_clientes.length; a++){
          if (data_clientes[a]._id === newArray2[i].cliente){
              nome_do_cliente.push(data_clientes[a].name)
            }
        }
      }
      //console.log(newArray2[0].cliente)
      console.log(nome_do_cliente)
      return {nome_do_cliente}
    }
    async function buildTable(marcsEquipa){
      const data_clientes = await get_clientes();
      let table = document.getElementById('marcacoesEquipa');

      for(let i = 0; i < marcsEquipa.length; i++){

        if(marcsEquipa[i].state == "Pendente" && marcsEquipa[i].avaliado_admin == "Não"){

          let row = 
          ` 
            <tr>
              <td>${marcsEquipa[i]._id}</td>
              <td>${data_clientes.nome_do_cliente[i]}</td>
              <td>${marcsEquipa[i].address}</td>
              <td>${marcsEquipa[i].state}</td>
              <td>${marcsEquipa[i].date}</td>
              <td>${marcsEquipa[i].hour}</td>
              <td>${marcsEquipa[i].avaliado_admin}</td>
            </tr>   
          `
          table.innerHTML += row
        } else if(marcsEquipa[i].state == "Terminado" && marcsEquipa[i].avaliado_admin == "Sim"){
          let row = 
          ` 
            <tr>
              <td>${marcsEquipa[i]._id}</td>
              <td>${data_clientes.nome_do_cliente[i]}</td>
              <td>${marcsEquipa[i].address}</td>
              <td>${marcsEquipa[i].state}</td>
              <td>${marcsEquipa[i].date}</td>
              <td>${marcsEquipa[i].hour}</td>
              <td>${marcsEquipa[i].avaliado_admin}</td>
              <td>
                <form action="/auth/projDEL/${marcsEquipa[i]._id}/${marcsEquipa[i].cliente}" method="POST" class="projetoDEL">
                  <div class="projDelete">
                    <button type="submit" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                      <i class="tim-icons icon-trash-simple"></i>
                    </button>
                  </div>
                </form>
              </td>
            </tr>   
          `
          table.innerHTML += row
        } else if(marcsEquipa[i].state == "Terminado" && marcsEquipa[i].avaliado_admin == "Não"){
          let row = 
          ` 
            <tr>
              <td>${marcsEquipa[i]._id}</td>
              <td>${data_clientes.nome_do_cliente[i]}</td>
              <td>${marcsEquipa[i].address}</td>
              <td>${marcsEquipa[i].state}</td>
              <td>${marcsEquipa[i].date}</td>
              <td>${marcsEquipa[i].hour}</td>
              <td>${marcsEquipa[i].avaliado_admin}</td>
              <td>
                <form>
                  <div class="projDelete">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/auth/projmarc'">Avaliar</button>
                  </div>
                </form>
              </td>
            </tr>   
          `
          table.innerHTML += row
        }
      }
    }


    





    $('#marcacoesEquipa').on('submit', '.projetoDEL', function(e) {
      e.preventDefault();

      const $form = $(e.target);
      const action = $form.attr('action');

      $.ajax({
        method: 'DELETE',
        url: action,
        dataType: 'json',
        success: function(data) {
          //console.log(data);
          $form.replaceWith('<p>Apagado!</p>');
        }
      })

    })



  </script>
</body>

</html>